body {
  background-color: #add8e6;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 650px;
  margin: auto;
  margin-top: 3rem;
  background-color: #fff9ae;
  border: 5px solid orange;
  border-radius: 10px;
}

#formikLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.modaltitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #654321;
  font-size: 2.1rem;
}

.modaltag {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #654321;
  text-align: center;
}

div#loginButtons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.2rem;
}

.modalbutton {
  color: #301934;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  height: 3rem;
  width: 8rem;
  border-radius: 7px;
}

.modalbutton:hover {
  background-color: #d8ffb1;
}

input.loginInput {
  margin: 0.5rem;
  width: 12rem;
  height: 1.2rem;
  border-radius: 4px;
  border: 2px solid #654321;
}


.container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #fff9ae;
  width: 80%;
  height: auto;
  min-width: 900px;
  max-width: 80%;
  border: 5px solid orange;
  border-radius: 10px;
}

.navbar {
  background-color: #fffddb;
  grid-row: 2 / span 4;
  grid-column: 1 / span 1;
  min-width: 200px;
  max-width: 200px;
}

a {
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #654321;
}

li {
  margin-top: 1rem;
}

.header {
  display: flex;
  position:relative;
  align-items: center;
  justify-content: space-between;
  background-color: #fffddb;
  size: 100%;
  width: 100%;
  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
  grid-row: 1 / span 1;
  grid-column: 1 / span 5;
}

.header h1 {
  margin-left: 2rem;
}

button#logout {
  color: #301934;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  height: 3rem;
  width: 8rem;
  border-radius: 7px;
  margin-right: 2rem;
}

button#logout:hover {
  background-color: #d8ffb1;
}

button#deleteProfile {
  color: #301934;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  height: 3rem;
  width: 18rem;
  border-radius: 7px;
  margin-right: 2rem;
  margin-top: 4rem;
}

button#deleteProfile:hover {
  background-color: #d8ffb1;
}

.content {
  display: grid;
  flex-wrap: wrap;
  grid-row: span 4;
  grid-column: span 4;



  padding: 3rem 3rem 3rem 1rem;
  min-height: 600px;
  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profileContent {
  display: grid;
  flex-wrap: wrap;
  grid-row: span 4;
  grid-column: span 4;
  padding: 3rem 3rem 3rem 0rem;
  min-height: 600px;
  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homeContent {
  display: grid;
  flex-wrap: wrap;
  grid-row: span 4;
  grid-column: span 4;
  padding: 3rem 3rem 4rem 3.5rem;
  min-height: 600px;
  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.eventContent {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  grid-row: span 4;
  grid-column: span 4;
  padding: 3rem 3rem 3rem 3rem;
  min-height: 600px;
  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.createEventContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-row: span 4;
  grid-column: span 4;
  padding: 3rem 3rem 3rem 0;
  min-height: 600px;

  color: #654321;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.picture {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 2px solid #654321;
  border-radius: 10px;
}

#profileModal {
  width: 500px;
  height: 650px;
  background-color: #ece6ff;
  margin: auto;
  margin-top: 3rem;
  padding: 1.5rem;
  border: 5px solid #bd7e4a;
  border-radius: 10px;

}

#profileForm {
  display: grid;
}

form input.loginInput {
  margin: 0.5rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  width: 15rem;
  height: 1.2rem;
  border-radius: 4px;
  border: 2px solid #654321;
}

select#location_input {
  width: 15.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

select#preference_input {
  width: 15.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  background-color: #ece6ff;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 700px;
  border: 2px solid #654321;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 10px;
}

#cardImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #654321;
  border-radius: 10px;
}

#userTiles {
  
  display: inline;
  max-height: fit-content;
  height: 200px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.connectionUserTile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #654321;
  border-radius: 10px;
}
#eventUserTiles {
  margin-bottom: 55px;
  display: flex;
  overflow-x: scroll;
  width: 591px;
  overflow: auto;

 
}

.eventTileImg {
  width: 119px;
  height: 100px;
}

.userTile:hover {
  border: 4px solid red;
}

#eventModal {
  width: 700px;
  height: auto;
  border: 2px solid black;
}

.eventTile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #654321;
  border-radius: 10px;
}

.eventTile:hover {
  border: 4px solid red;
}

img.selected {
  border: 4px solid red;
}

#eventForm {
  display: grid;
  font-size: 1.2rem;
}

#eventForm input {
  width: 18rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

form button {
  color: #301934;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  height: 3rem;
  width: 14rem;
  border-radius: 7px;
  margin-top: 2rem;
  margin: auto;
}

form button:hover {
  background-color: #d8ffb1;
  margin: auto;
}


/* ----------------------------------map-css-start--------------------------------------- */

.signupInput {
  display: grid;
  justify-content: space-around;
}

.signup {
  margin-top: 10px
}

.searchbar {

}
.meetmap {
  margin-left: -168%;
  margin-right: -22%;
}


.map {

}

#profileForm {

  display: grid;
}

form input.loginInput {
  margin: 0.5rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  width: 15rem;
  height: 1.2rem;
  border-radius: 4px;
  border: 2px solid #654321;
}

select#location_input {
  width: 15.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

select#preference_input {
  width: 15.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

.mapUserCard {
  width: 400px;
}
#mapCardImg {
  height: 120px;
  width: auto;
  border-radius: 10px; 
  /* flex-direction: column;
  background-color: #ece6ff;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 700px;
  border: 2px solid #654321;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 10px; */
}

#cardImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #654321;
  border-radius: 10px;
}

#userTiles {
  height: 200px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: scroll;
  height: 670px;
}

.userTile {
  width: 200px;
  height: auto;
  object-fit: cover;
  border: 4px solid #654321;
  border-radius: 10px;
}

.userTile:hover {
  border: 4px solid red;
}

#eventModal {
  width: 700px;
  height: auto;
  border: 2px solid black;
}

.eventTile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #654321;
  border-radius: 10px;
}

.eventTile:hover {
  border: 4px solid red;
}

img.selected {
  border: 4px solid red;
}

#eventForm {
  margin-top: -2rem;
  margin-left: 7rem;
  display: grid;
  font-size: 1.2rem;
  width: 18rem;
}

#eventForm input {
  width: 18rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #654321;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}

form label {
  width: 18rem;
}

form button {
  color: #301934;
  background-color: #ffcccb;
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  height: 3rem;
  width: 14rem;
  border-radius: 7px;
  margin-top: 2rem;
  margin: auto;
}

form button:hover {
  background-color: #d8ffb1;
  margin: auto;
}

.eventCard {
  display: flex;
  flex-direction: column;
  background-color: #ece6ff;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  border: 2px solid #654321;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 10px;
}

.eventCard h2 {
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
}

.eventCard h4 {
  margin: 1rem 0rem 0.5rem 0rem;
}

.eventCard h3 {
  margin: 0rem;
}

.eventCard p {
  margin: 2rem 0rem 0rem 0rem;
  text-align: center;
}

.eventCard div {
  margin-top: 1rem;
}

#loading {
  font-size: 3rem;

}